//! **************************************************************************
// Written by: Map O.87xd on Fri Nov 16 15:24:56 2012
//! **************************************************************************

SCHEMATIC START;
COMP "GMII_RXD<0>" LOCATE = SITE "AN13" LEVEL 1;
COMP "GMII_RXD<1>" LOCATE = SITE "AF14" LEVEL 1;
COMP "GMII_RXD<2>" LOCATE = SITE "AE14" LEVEL 1;
COMP "GMII_RXD<3>" LOCATE = SITE "AN12" LEVEL 1;
COMP "GMII_RXD<4>" LOCATE = SITE "AM12" LEVEL 1;
COMP "GMII_RXD<5>" LOCATE = SITE "AD11" LEVEL 1;
COMP "GMII_RXD<6>" LOCATE = SITE "AC12" LEVEL 1;
COMP "GMII_RXD<7>" LOCATE = SITE "AC13" LEVEL 1;
COMP "GMII_TXD<0>" LOCATE = SITE "AM11" LEVEL 1;
COMP "GMII_TXD<1>" LOCATE = SITE "AL11" LEVEL 1;
COMP "GMII_TXD<2>" LOCATE = SITE "AG10" LEVEL 1;
COMP "GMII_TXD<3>" LOCATE = SITE "AG11" LEVEL 1;
COMP "GMII_TXD<4>" LOCATE = SITE "AL10" LEVEL 1;
COMP "GMII_TXD<5>" LOCATE = SITE "AM10" LEVEL 1;
COMP "GMII_TXD<6>" LOCATE = SITE "AE11" LEVEL 1;
COMP "GMII_TXD<7>" LOCATE = SITE "AF11" LEVEL 1;
COMP "SYSCLK_N" LOCATE = SITE "H9" LEVEL 1;
COMP "SYSCLK_P" LOCATE = SITE "J9" LEVEL 1;
COMP "GMII_RX_CLK" LOCATE = SITE "AP11" LEVEL 1;
COMP "GMII_TX_CLK" LOCATE = SITE "AD12" LEVEL 1;
COMP "PHY_RESETB" LOCATE = SITE "AE13" LEVEL 1;
COMP "GMII_GTX_CLK" LOCATE = SITE "AH12" LEVEL 1;
COMP "RESET" LOCATE = SITE "H10" LEVEL 1;
COMP "SYSCLK_66" LOCATE = SITE "U23" LEVEL 1;
COMP "GMII_RX_ER" LOCATE = SITE "AG12" LEVEL 1;
COMP "GMII_RX_DV" LOCATE = SITE "AM13" LEVEL 1;
COMP "GMII_TX_EN" LOCATE = SITE "AJ10" LEVEL 1;
COMP "GMII_TX_ER" LOCATE = SITE "AH10" LEVEL 1;
COMP "LEDS<0>" LOCATE = SITE "AC22" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "AC24" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "AE22" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "AE23" LEVEL 1;
COMP "LEDS<4>" LOCATE = SITE "AB23" LEVEL 1;
COMP "LEDS<5>" LOCATE = SITE "AG23" LEVEL 1;
COMP "LEDS<6>" LOCATE = SITE "AE24" LEVEL 1;
COMP "LEDS<7>" LOCATE = SITE "AD24" LEVEL 1;
COMP "DIP_SWITCH<0>" LOCATE = SITE "D22" LEVEL 1;
COMP "DIP_SWITCH<1>" LOCATE = SITE "C22" LEVEL 1;
COMP "DIP_SWITCH<2>" LOCATE = SITE "L21" LEVEL 1;
COMP "DIP_SWITCH<3>" LOCATE = SITE "L20" LEVEL 1;
COMP "ETH/EMAC0/V6_EMAC" LOCATE = SITE "TEMAC_X0Y0" LEVEL 1;
PIN ETH/EMAC0/V6_EMAC_pins<19> = BEL "ETH/EMAC0/V6_EMAC" PINNAME
        CLIENTEMACTXCLIENTCLKIN;
PIN ETH/EMAC0/V6_EMAC_pins<165> = BEL "ETH/EMAC0/V6_EMAC" PINNAME
        PHYEMACGTXCLK;
PIN ETH/EMAC0/V6_EMAC_pins<197> = BEL "ETH/EMAC0/V6_EMAC" PINNAME
        PHYEMACTXGMIIMIICLKIN;
PIN
        IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/BUFFER/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/BUFFER/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/BUFFER/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/BUFFER/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/BUFFER/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/BUFFER/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/BUFFER/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/BUFFER/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        IPBUS_GEN[0].IPBUS/RXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        IPBUS_GEN[0].IPBUS/RXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        IPBUS_GEN[0].IPBUS/TXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<63>
        = BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKARDCLKU;
PIN
        IPBUS_GEN[0].IPBUS/TXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<62>
        = BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKARDCLKL;
PIN
        IPBUS_GEN[0].IPBUS/TXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        IPBUS_GEN[0].IPBUS/TXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
TIMEGRP CLOCKS_CLOCK1_CLKOUT1 = BEL "L125" BEL "CNT125_0" BEL "CNT125_1" BEL
        "CNT125_2" BEL "CNT125_3" BEL "CNT125_4" BEL "CNT125_5" BEL "CNT125_6"
        BEL "CNT125_7" BEL "CNT125_8" BEL "CNT125_9" BEL "CNT125_10" BEL
        "CNT125_11" BEL "CNT125_12" BEL "CNT125_13" BEL "CNT125_16" BEL
        "CNT125_14" BEL "CNT125_15" BEL "CNT125_17" BEL "CNT125_18" BEL
        "CNT125_19" BEL "CNT125_20" BEL "CNT125_21" BEL "CNT125_22" BEL
        "CNT125_23" BEL "CNT125_24" BEL "CNT125_25" BEL "CNT125_26" BEL
        "CNT125_27" BEL "CNT125_28" BEL "CNT125_29" BEL "CNT125_30" BEL
        "CNT125_31" BEL "ETH/GMII_TX_ER" BEL "ETH/GMII_TXD_0" BEL
        "ETH/GMII_TXD_1" BEL "ETH/GMII_TXD_2" BEL "ETH/GMII_TXD_3" BEL
        "ETH/GMII_TXD_4" BEL "ETH/GMII_TXD_5" BEL "ETH/GMII_TXD_6" BEL
        "ETH/GMII_TXD_7" BEL "ETH/GMII_TX_EN" BEL "ETH/ODDR0" PIN
        "ETH/EMAC0/V6_EMAC_pins<19>" PIN "ETH/EMAC0/V6_EMAC_pins<165>" PIN
        "ETH/EMAC0/V6_EMAC_pins<197>" PIN "ETH/EMAC0/V6_EMAC_pins<19>" PIN
        "ETH/EMAC0/V6_EMAC_pins<165>" PIN "ETH/EMAC0/V6_EMAC_pins<197>" PIN
        "ETH/EMAC0/V6_EMAC_pins<19>" PIN "ETH/EMAC0/V6_EMAC_pins<165>" PIN
        "ETH/EMAC0/V6_EMAC_pins<197>" BEL "CLOCKS/D25_D" BEL "CLOCKS/RST" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/WAS_RXDONE" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_0" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_1" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_2" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_3" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_4" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_5" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_6" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_7" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_8" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_9" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_10" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_RXREADY" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/BUFFER_READ_BASE_0" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/BUFFER_READ_BASE_1" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/BUFFER_READ_BASE_2" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/BUFFER_READ_BASE_3" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/BUFFER_READ_BASE_4" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/BUFFER_READ_BASE_5" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/BUFFER_READ_BASE_6" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/BUFFER_READ_BASE_7" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/BUFFER_READ_BASE_8" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/BUFFER_READ_BASE_9" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/BUFFER_READ_BASE_10" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/BUFFER_READ_BASE_11" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_RP_0" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_RP_1" BEL
        "IPBUS_GEN[0].IPBUS/RXBUF/PACKET_LEN_RP_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/DWP_MAC" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/IPLEN_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/IPLEN_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/IPLEN_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/IPLEN_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/IPLEN_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/IPLEN_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/IPLEN_8" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/IPLEN_9" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/IPLEN_10" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/BOTTOMFULL" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/TOPFULL" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RQADDR_0" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RQADDR_1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RQADDR_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RQADDR_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RQADDR_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RQADDR_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RQADDR_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RQADDR_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RQADDR_8" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RQADDR_9" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RQADDR_10" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/STATE_FSM_FFD1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RXA_0" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RXA_1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RXA_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RXA_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RXA_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RXA_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RXA_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RXA_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RXA_8" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RXA_9" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/RXA_10" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/HALF" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/WE" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/DONE_MAC" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/DONE_MAC_D" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IP_LEN_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IP_LEN_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IP_LEN_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IP_LEN_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IP_LEN_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IP_LEN_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IP_LEN_8" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IP_LEN_9" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IP_LEN_10" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IP_LEN_11" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDP_LEN_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDP_LEN_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDP_LEN_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDP_LEN_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDP_LEN_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDP_LEN_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDP_LEN_8" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDP_LEN_9" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDP_LEN_10" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDP_LEN_11" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXA_0" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXA_1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXA_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXA_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXA_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXA_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXA_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXA_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXA_8" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXA_9" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXA_10" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/RDADDR_0" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/RDADDR_1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/RDADDR_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/RDADDR_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/RDADDR_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/RDADDR_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/RDADDR_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/RDADDR_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/RDADDR_8" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/RDADDR_9" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/RDADDR_10" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXD_0" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXD_1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXD_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXD_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXD_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXD_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXD_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TXD_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/STATE_FSM_FFD4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/STATE_FSM_FFD3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/STATE_FSM_FFD2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/STATE_FSM_FFD1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/DEVEN_0" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/DEVEN_1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/DEVEN_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/DEVEN_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/DEVEN_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/DEVEN_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/DEVEN_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/DEVEN_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_0" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_8" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_9" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_10" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_11" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_12" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_13" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_14" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CHECKSUM_15" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_0" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_8" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_9" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_10" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_11" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_12" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_13" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_14" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/UDPCSUM/CSUM_INTL_15" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/DEVEN_0" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/DEVEN_1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/DEVEN_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/DEVEN_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/DEVEN_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/DEVEN_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/DEVEN_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/DEVEN_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_0" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_8" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_9" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_10" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_11" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_12" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_13" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_14" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CHECKSUM_15" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_0" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_8" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_9" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_10" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_11" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_12" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_13" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_14" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/IPCSUM/CSUM_INTL_15" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/BOTTOMFULL" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/HALF" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/TX_SEND" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/WE" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_DATA_WRITE_0" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_DATA_WRITE_1" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_DATA_WRITE_2" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_DATA_WRITE_3" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_DATA_WRITE_4" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_DATA_WRITE_5" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_DATA_WRITE_6" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_DATA_WRITE_7" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_WE" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/WAS_PACKET_DONE" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MAC_TXDV" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_WRITE_0" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_WRITE_1" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_WRITE_2" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_WRITE_3" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_WRITE_4" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_WRITE_5" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_WRITE_6" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_WRITE_7" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_WRITE_8" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_WRITE_9" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_WRITE_10" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_WRITE_11" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_SENT_LEN_0" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_SENT_LEN_1" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_SENT_LEN_2" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_SENT_LEN_3" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_SENT_LEN_4" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_SENT_LEN_5" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_SENT_LEN_6" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_SENT_LEN_7" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_SENT_LEN_8" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_SENT_LEN_9" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_SENT_LEN_10" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_READ_0" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_READ_1" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_READ_2" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_READ_3" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_READ_4" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_READ_5" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_READ_6" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_READ_7" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_READ_8" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_READ_9" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_READ_10" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_ADDR_READ_11" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/SECOND_BYTE_0" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/SECOND_BYTE_1" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/SECOND_BYTE_2" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/SECOND_BYTE_3" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/SECOND_BYTE_4" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/SECOND_BYTE_5" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/SECOND_BYTE_6" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/SECOND_BYTE_7" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MAC_TXD_0" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MAC_TXD_1" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MAC_TXD_2" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MAC_TXD_3" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MAC_TXD_4" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MAC_TXD_5" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MAC_TXD_6" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MAC_TXD_7" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/STATE_FSM_FFD1" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/STATE_FSM_FFD2" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_BASE_WRITE_0" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_BASE_WRITE_1" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_BASE_WRITE_2" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_BASE_WRITE_3" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_BASE_WRITE_4" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_BASE_WRITE_5" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_BASE_WRITE_6" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_BASE_WRITE_7" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_BASE_WRITE_8" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_BASE_WRITE_9" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_BASE_WRITE_10" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO_BASE_WRITE_11" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_LEN_WP_0" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_LEN_WP_1" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_LEN_WP_2" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_LEN_RP_0" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_LEN_RP_1" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/PACKET_LEN_RP_2" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/ETH0_0" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/ETH0_1" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/ETH0_2" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/ETH0_3" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/ETH0_4" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/ETH0_5" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/ETH0_6" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/ETH0_7" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/ICMP_READY" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/ARP_READY" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/UDP_READY" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/UDP_XMIT_OK" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/SELF_RXA_0" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/SELF_RXA_1" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/SELF_RXA_2" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/SELF_RXA_3" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/SELF_RXA_5" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/ACTIVESRC_0" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/ACTIVESRC_1" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD17" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD12" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD11" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD10" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD3" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD5" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD4" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD14" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD13" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/RX_DONE" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD15" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD16" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD9" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD6" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD8" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD7" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD2" BEL
        "IPBUS_GEN[0].IPBUS/HANDLER/STATE_FSM_FFD1" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_READ_ADDR_0" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_READ_ADDR_1" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_READ_ADDR_2" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_READ_ADDR_3" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_READ_ADDR_4" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_READ_ADDR_5" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_0" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_1" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_2" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_3" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_4" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_5" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_6" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_7" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/STATE_FSM_FFD3" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/STATE_FSM_FFD4" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_ADDR_0" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_ADDR_1" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_ADDR_2" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_ADDR_3" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_ADDR_4" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_ADDR_5" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/STATE_FSM_FFD2" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/STATE_FSM_FFD1" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/DONE_WITH_PACKET" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_OUT_WE" BEL
        "IPBUS_GEN[0].IPBUS/ARP_BLOCK/PACKET_XMIT" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/ICMP_TYPE_0" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/ICMP_TYPE_1" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/ICMP_TYPE_2" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/ICMP_TYPE_3" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/ICMP_TYPE_4" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/ICMP_TYPE_5" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/ICMP_TYPE_6" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/ICMP_TYPE_7" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_ADDR_0" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_ADDR_1" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_ADDR_2" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_ADDR_3" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_ADDR_4" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_ADDR_5" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_ADDR_6" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_ADDR_7" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_ADDR_8" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_ADDR_9" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_LEN_0" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_LEN_1" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_LEN_2" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_LEN_3" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_LEN_4" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_LEN_5" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_LEN_6" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_LEN_7" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_LEN_8" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_LEN_9" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_READ_ADDR_0" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_READ_ADDR_1" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_READ_ADDR_2" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_READ_ADDR_3" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_READ_ADDR_4" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_READ_ADDR_5" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_READ_ADDR_6" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_READ_ADDR_7" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_READ_ADDR_8" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_READ_ADDR_9" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_0" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_1" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_2" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_3" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_4" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_5" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_6" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_7" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/STATE_FSM_FFD4" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/STATE_FSM_FFD1" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/STATE_FSM_FFD3" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/STATE_FSM_FFD2" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/DEVEN_0" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/DEVEN_1" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/DEVEN_2" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/DEVEN_3" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/DEVEN_4" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/DEVEN_5" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/DEVEN_6" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/DEVEN_7" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_0" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_1" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_2" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_3" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_4" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_5" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_6" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_7" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_8" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_9" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_10" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_11" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_12" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_13" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_14" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CHECKSUM_15" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_0" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_1" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_2" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_3" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_4" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_5" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_6" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_7" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_8" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_9" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_10" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_11" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_12" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_13" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_14" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/CSUM_ICMP/CSUM_INTL_15" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/DONE_WITH_PACKET" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_OUT_WE" BEL
        "IPBUS_GEN[0].IPBUS/ICMP_BLOCK/PACKET_XMIT" BEL "ARB/SRC_0" BEL
        "ARB/SRC_1" BEL "ARB/SRC_2" BEL "ARB/SRC_3" PIN
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/BUFFER/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/BUFFER/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/BUFFER/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/BUFFER/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "IPBUS_GEN[0].IPBUS/RXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "IPBUS_GEN[0].IPBUS/RXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<63>"
        PIN
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<62>"
        PIN
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "IPBUS_GEN[0].IPBUS/TXBUF/FIFO/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        BEL "CLOCKS/CLOCK1/CLKOUT2_BUF" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN1/DP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN1/SP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN2/DP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN2/SP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN3/DP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN3/SP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN4/DP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN4/SP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN5/DP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN5/SP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN6/DP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN6/SP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN7/DP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN7/SP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN8/DP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN8/SP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN9/DP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/INBUF/MRAM_RQLEN9/SP" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/MRAM_RPLEN1" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/MRAM_RPLEN10" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/MRAM_RPLEN11" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/MRAM_RPLEN2" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/MRAM_RPLEN3" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/MRAM_RPLEN4" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/MRAM_RPLEN5" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/MRAM_RPLEN6" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/MRAM_RPLEN7" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/MRAM_RPLEN8" BEL
        "IPBUS_GEN[0].IPBUS/PACKET_BUFFER/OUTBUF/MRAM_RPLEN9" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO1/DP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO1/SP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO10/DP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO10/SP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO11/DP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO11/SP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO2/DP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO2/SP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO3/DP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO3/SP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO4/DP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO4/SP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO5/DP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO5/SP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO6/DP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO6/SP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO7/DP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO7/SP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO8/DP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO8/SP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO9/DP" BEL
        "IPBUS_GEN[0].IPBUS/TXBUF/MRAM_PACKET_LEN_FIFO9/SP";
PIN ETH/IDELAYCTRL0_MapLib_replicate0_pins<0> = BEL
        "ETH/IDELAYCTRL0_MapLib_replicate0" PINNAME REFCLK;
TIMEGRP CLOCKS_CLOCK1_CLKOUT0 = BEL "L200" BEL "CNT200_0" BEL "CNT200_1" BEL
        "CNT200_2" BEL "CNT200_3" BEL "CNT200_4" BEL "CNT200_5" BEL "CNT200_6"
        BEL "CNT200_7" BEL "CNT200_8" BEL "CNT200_9" BEL "CNT200_10" BEL
        "CNT200_11" BEL "CNT200_12" BEL "CNT200_13" BEL "CNT200_14" BEL
        "CNT200_17" BEL "CNT200_15" BEL "CNT200_16" BEL "CNT200_18" BEL
        "CNT200_19" BEL "CNT200_20" BEL "CNT200_21" BEL "CNT200_22" BEL
        "CNT200_23" BEL "CNT200_24" BEL "CNT200_25" BEL "CNT200_26" BEL
        "CNT200_27" BEL "CNT200_28" BEL "CNT200_29" BEL "CNT200_30" BEL
        "CNT200_31" BEL "CLOCKS/CLOCK1/CLKOUT1_BUF" PIN
        "ETH/IDELAYCTRL0_MapLib_replicate0_pins<0>";
TIMEGRP gmii_rx_clk = BEL "GMII_RX_CLK";
PIN CLOCKS/CLOCK1/MMCM_ADV_INST_pins<2> = BEL "CLOCKS/CLOCK1/MMCM_ADV_INST"
        PINNAME CLKIN1;
TIMEGRP SYSCLK_P = PIN "CLOCKS/CLOCK1/MMCM_ADV_INST_pins<2>";
TS_SYSCLK_P = PERIOD TIMEGRP "SYSCLK_P" 5 ns HIGH 50% INPUT_JITTER 0.05 ns;
TS_GMII_RX_CLK = PERIOD TIMEGRP "gmii_rx_clk" 125 MHz HIGH 50%;
TS_CLOCKS_CLOCK1_CLKOUT1 = PERIOD TIMEGRP "CLOCKS_CLOCK1_CLKOUT1" TS_SYSCLK_P
        / 0.625 HIGH 50% INPUT_JITTER 0.05 ns;
TS_CLOCKS_CLOCK1_CLKOUT0 = PERIOD TIMEGRP "CLOCKS_CLOCK1_CLKOUT0" TS_SYSCLK_P
        HIGH 50% INPUT_JITTER 0.05 ns;
PIN MMCM_PHASE_CALIBRATION_ML_LUT2_8_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_LUT2_8" PINNAME O5;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_7_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_7" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_6_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_6" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_5_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_5" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_4_pins<0> = BEL
        "MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_4" PINNAME CK;
PIN MMCM_PHASE_CALIBRATION_ML_LUT2_16_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_LUT2_16" PINNAME O6;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_14_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_14" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_13_pins<2> = BEL
        "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_13" PINNAME Q;
PIN MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_12_pins<0> = BEL
        "MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_12" PINNAME CK;
PIN "MMCM_PHASE_CALIBRATION_ML_LUT2_8_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_7_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_6_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_5_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_4_pins<0>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_LUT2_16_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_14_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_FDCPE_I0_13_pins<2>" TIG;
PIN "MMCM_PHASE_CALIBRATION_ML_LDCPE_I0_12_pins<0>" TIG;
SCHEMATIC END;

