//! **************************************************************************
// Written by: Map P.20131013 on Thu May 19 18:07:35 2016
//! **************************************************************************

SCHEMATIC START;
COMP "clk100" LOCATE = SITE "E3" LEVEL 1;
COMP "i_uart" LOCATE = SITE "C4" LEVEL 1;
COMP "rst" LOCATE = SITE "U8" LEVEL 1;
COMP "VGA_green<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "VGA_green<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "VGA_green<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "VGA_green<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "sw" LOCATE = SITE "U9" LEVEL 1;
COMP "BTNC" LOCATE = SITE "E16" LEVEL 1;
COMP "BTND" LOCATE = SITE "V10" LEVEL 1;
COMP "BTNL" LOCATE = SITE "T16" LEVEL 1;
COMP "BTNR" LOCATE = SITE "R10" LEVEL 1;
COMP "BTNU" LOCATE = SITE "F15" LEVEL 1;
COMP "buttons<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "VGA_blue<2>" LOCATE = SITE "D7" LEVEL 1;
COMP "buttons<2>" LOCATE = SITE "R5" LEVEL 1;
COMP "VGA_blue<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "buttons<1>" LOCATE = SITE "R6" LEVEL 1;
COMP "VGA_blue<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "VGA_blue<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "VGA_hs" LOCATE = SITE "B11" LEVEL 1;
COMP "VGA_vs" LOCATE = SITE "B12" LEVEL 1;
COMP "VGA_red<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "VGA_red<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "VGA_red<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "VGA_red<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "o_uart" LOCATE = SITE "D4" LEVEL 1;
COMP "led" LOCATE = SITE "T8" LEVEL 1;
COMP "o_uart2" LOCATE = SITE "V9" LEVEL 1;
PIN InstColorgen/Mram_n0002_pins<32> = BEL "InstColorgen/Mram_n0002" PINNAME
        CLKARDCLK;
TIMEGRP sys_clk_pin = BEL "clk50" BEL "InstVGA/TOP_line" BEL "InstVGA/VGA_hs"
        BEL "InstVGA/TOP_display" BEL "InstVGA/VGA_vs" BEL
        "InstVGA/next_pixel_0" BEL "InstVGA/next_pixel_1" BEL
        "InstVGA/next_pixel_2" BEL "InstVGA/next_pixel_3" BEL
        "InstVGA/next_pixel_4" BEL "InstVGA/next_pixel_5" BEL
        "InstVGA/next_pixel_6" BEL "InstVGA/next_pixel_7" BEL
        "InstVGA/pix_read_addr_3" BEL "InstVGA/pix_read_addr_1" BEL
        "InstVGA/pix_read_addr_2" BEL "InstVGA/pix_read_addr_6" BEL
        "InstVGA/pix_read_addr_4" BEL "InstVGA/pix_read_addr_5" BEL
        "InstVGA/pix_read_addr_9" BEL "InstVGA/pix_read_addr_7" BEL
        "InstVGA/pix_read_addr_8" BEL "InstVGA/pix_read_addr_12" BEL
        "InstVGA/pix_read_addr_10" BEL "InstVGA/pix_read_addr_11" BEL
        "InstVGA/pix_read_addr_13" BEL "InstVGA/pix_read_addr_14" BEL
        "InstVGA/pix_read_addr_15" BEL "InstVGA/pix_read_addr_16" BEL
        "InstVGA/pix_read_addr_17" BEL "InstVGA/pix_read_addr_18" BEL
        "InstVGA/v_counter_2" BEL "InstVGA/v_counter_0" BEL
        "InstVGA/v_counter_1" BEL "InstVGA/v_counter_5" BEL
        "InstVGA/v_counter_3" BEL "InstVGA/v_counter_4" BEL
        "InstVGA/v_counter_8" BEL "InstVGA/v_counter_6" BEL
        "InstVGA/v_counter_7" BEL "InstVGA/v_counter_9" BEL
        "InstVGA/pix_read1_3" BEL "InstVGA/pix_read1_1" BEL
        "InstVGA/pix_read1_2" BEL "InstVGA/pix_read1_6" BEL
        "InstVGA/pix_read1_4" BEL "InstVGA/pix_read1_5" BEL
        "InstVGA/pix_read1_7" BEL "InstVGA/pix_read1_8" BEL
        "InstVGA/pix_read1_9" BEL "InstVGA/pix_read1_10" BEL
        "InstVGA/pix_read1_13" BEL "InstVGA/pix_read1_11" BEL
        "InstVGA/pix_read1_12" BEL "InstVGA/pix_read1_16" BEL
        "InstVGA/pix_read1_14" BEL "InstVGA/pix_read1_15" BEL
        "InstVGA/h_counter_1" BEL "InstVGA/h_counter_0" BEL
        "InstVGA/h_counter_4" BEL "InstVGA/h_counter_2" BEL
        "InstVGA/h_counter_3" BEL "InstVGA/h_counter_7" BEL
        "InstVGA/h_counter_5" BEL "InstVGA/h_counter_6" BEL
        "InstVGA/h_counter_10" BEL "InstVGA/h_counter_8" BEL
        "InstVGA/h_counter_9" BEL "InstVGA/h_counter_11" BEL
        "InstVGA/pix_read_addr_0" BEL "InstVGA/pix_read1_0" BEL
        "clk100_BUFGP/BUFG" PIN "InstColorgen/Mram_n0002_pins<32>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

