//! **************************************************************************
// Written by: Map P.20131013 on Mon May 02 09:52:52 2016
//! **************************************************************************

SCHEMATIC START;
COMP "I_UART" LOCATE = SITE "C4" LEVEL 1;
COMP "VGA_BLUE<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "VGA_BLUE<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "VGA_BLUE<2>" LOCATE = SITE "D7" LEVEL 1;
COMP "VGA_BLUE<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "SW" LOCATE = SITE "U9" LEVEL 1;
COMP "LED" LOCATE = SITE "T8" LEVEL 1;
COMP "RST" LOCATE = SITE "E16" LEVEL 1;
COMP "CLK100" LOCATE = SITE "E3" LEVEL 1;
COMP "VGA_GREEN<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "VGA_GREEN<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "VGA_GREEN<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "VGA_GREEN<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "B11" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "B12" LEVEL 1;
COMP "O_UART" LOCATE = SITE "D4" LEVEL 1;
COMP "VGA_RED<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "VGA_RED<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "VGA_RED<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "VGA_RED<0>" LOCATE = SITE "A3" LEVEL 1;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN1_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN1" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN1_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN1" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN10_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN10" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN10_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN10" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN101_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN101" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN101_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN101" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN11_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN11" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN11_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN11" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN110_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN110" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN110_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN110" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN111_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN111" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN111_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN111" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN12_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN12" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN12_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN12" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN121_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN121" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN121_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN121" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN13_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN13" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN13_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN13" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN131_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN131" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN131_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN131" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN14_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN14" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN14_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN14" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN141_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN141" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN141_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN141" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN15_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN15" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN15_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN15" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN151_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN151" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN151_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN151" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN16_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN16" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN16_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN16" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN161_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN161" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN161_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN161" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN17_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN17" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN17_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN17" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN171_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN171" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN171_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN171" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN18_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN18" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN18_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN18" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN181_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN181" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN181_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN181" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN19_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN19" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN19_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN19" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN191_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN191" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN191_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN191" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN2_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN2" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN2_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN2" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN20_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN20" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN20_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN20" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN201_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN201" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN201_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN201" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN21_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN21" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN21_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN21" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN210_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN210" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN210_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN210" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN211_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN211" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN211_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN211" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN22_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN22" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN22_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN22" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN221_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN221" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN221_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN221" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN23_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN23" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN23_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN23" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN231_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN231" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN231_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN231" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN24_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN24" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN24_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN24" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN241_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN241" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN241_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN241" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN25_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN25" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN25_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN25" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN251_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN251" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN251_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN251" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN26_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN26" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN26_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN26" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN261_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN261" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN261_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN261" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN27_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN27" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN27_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN27" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN271_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN271" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN271_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN271" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN28_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN28" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN28_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN28" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN281_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN281" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN281_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN281" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN29_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN29" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN29_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN29" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN291_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN291" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN291_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN291" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN3_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN3" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN3_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN3" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN30_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN30" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN30_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN30" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN301_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN301" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN301_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN301" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN31_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN31" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN31_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN31" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN310_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN310" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN310_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN310" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN311_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN311" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN311_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN311" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN32_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN32" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN32_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN32" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN321_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN321" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN321_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN321" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN33_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN33" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN33_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN33" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN331_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN331" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN331_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN331" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN34_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN34" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN34_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN34" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN341_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN341" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN341_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN341" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN35_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN35" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN35_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN35" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN351_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN351" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN351_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN351" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN36_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN36" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN36_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN36" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN361_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN361" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN361_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN361" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN37_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN37" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN37_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN37" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN371_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN371" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN371_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN371" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN38_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN38" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN38_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN38" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN381_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN381" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN381_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN381" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN39_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN39" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN39_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN39" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN391_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN391" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN391_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN391" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN4_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN4" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN4_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN4" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN40_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN40" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN40_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN40" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN401_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN401" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN401_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN401" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN41_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN41" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN41_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN41" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN410_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN410" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN410_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN410" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN411_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN411" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN411_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN411" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN42_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN42" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN42_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN42" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN421_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN421" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN421_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN421" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN43_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN43" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN43_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN43" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN431_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN431" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN431_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN431" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN44_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN44" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN44_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN44" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN441_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN441" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN441_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN441" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN45_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN45" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN45_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN45" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN451_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN451" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN451_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN451" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN46_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN46" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN46_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN46" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN461_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN461" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN461_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN461" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN47_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN47" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN47_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN47" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN471_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN471" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN471_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN471" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN48_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN48" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN48_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN48" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN481_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN481" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN481_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN481" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN49_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN49" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN49_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN49" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN491_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN491" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN491_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN491" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN5_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN5" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN5_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN5" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN50_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN50" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN50_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN50" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN501_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN501" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN501_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN501" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN51_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN51" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN51_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN51" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN510_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN510" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN510_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN510" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN511_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN511" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN511_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN511" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN52_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN52" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN52_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN52" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN521_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN521" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN521_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN521" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN53_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN53" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN53_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN53" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN531_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN531" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN531_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN531" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN54_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN54" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN54_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN54" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN541_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN541" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN541_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN541" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN55_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN55" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN55_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN55" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN551_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN551" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN551_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN551" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN56_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN56" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN56_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN56" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN561_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN561" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN561_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN561" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN57_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN57" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN57_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN57" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN571_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN571" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN571_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN571" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN58_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN58" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN58_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN58" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN581_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN581" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN581_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN581" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN59_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN59" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN59_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN59" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN591_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN591" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN591_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN591" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN6_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN6" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN6_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN6" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN60_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN60" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN60_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN60" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN601_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN601" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN601_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN601" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN61_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN61" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN61_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN61" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN7_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN7" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN7_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN7" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN71_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN71" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN71_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN71" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN8_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN8" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN8_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN8" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN81_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN81" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN81_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN81" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN9_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN9" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN9_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN9" PINNAME CLKBWRCLKL;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN91_pins<67> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN91" PINNAME CLKBWRCLKU;
PIN INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN91_pins<66> = BEL
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN91" PINNAME CLKBWRCLKL;
TIMEGRP sys_clk_pin = BEL "CLK50" BEL "INST_PLASMA/U5D_COPROC/VGA/VGA_VS" BEL
        "INST_PLASMA/U5D_COPROC/VGA/TOP_DISPLAY" BEL
        "INST_PLASMA/U5D_COPROC/VGA/VGA_HS" BEL
        "INST_PLASMA/U5D_COPROC/VGA/TOP_LINE" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_1" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_0" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_2" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_3" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_4" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_5" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_6" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_7" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_10" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_8" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_9" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_11" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_12" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_13" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_14" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_15" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_16" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_17" BEL
        "INST_PLASMA/U5D_COPROC/VGA/PIX_READ_ADDR_18" BEL
        "INST_PLASMA/U5D_COPROC/VGA/H_COUNTER_0" BEL
        "INST_PLASMA/U5D_COPROC/VGA/H_COUNTER_1" BEL
        "INST_PLASMA/U5D_COPROC/VGA/H_COUNTER_2" BEL
        "INST_PLASMA/U5D_COPROC/VGA/H_COUNTER_3" BEL
        "INST_PLASMA/U5D_COPROC/VGA/H_COUNTER_4" BEL
        "INST_PLASMA/U5D_COPROC/VGA/H_COUNTER_5" BEL
        "INST_PLASMA/U5D_COPROC/VGA/H_COUNTER_8" BEL
        "INST_PLASMA/U5D_COPROC/VGA/H_COUNTER_6" BEL
        "INST_PLASMA/U5D_COPROC/VGA/H_COUNTER_7" BEL
        "INST_PLASMA/U5D_COPROC/VGA/H_COUNTER_9" BEL
        "INST_PLASMA/U5D_COPROC/VGA/H_COUNTER_10" BEL
        "INST_PLASMA/U5D_COPROC/VGA/H_COUNTER_11" BEL
        "INST_PLASMA/U5D_COPROC/VGA/V_COUNTER_0" BEL
        "INST_PLASMA/U5D_COPROC/VGA/V_COUNTER_1" BEL
        "INST_PLASMA/U5D_COPROC/VGA/V_COUNTER_4" BEL
        "INST_PLASMA/U5D_COPROC/VGA/V_COUNTER_2" BEL
        "INST_PLASMA/U5D_COPROC/VGA/V_COUNTER_3" BEL
        "INST_PLASMA/U5D_COPROC/VGA/V_COUNTER_5" BEL
        "INST_PLASMA/U5D_COPROC/VGA/V_COUNTER_6" BEL
        "INST_PLASMA/U5D_COPROC/VGA/V_COUNTER_7" BEL
        "INST_PLASMA/U5D_COPROC/VGA/V_COUNTER_8" BEL
        "INST_PLASMA/U5D_COPROC/VGA/V_COUNTER_9" BEL
        "INST_PLASMA/U5D_COPROC/VGA/MSHREG_INST_LPM_FF2_0" BEL
        "INST_PLASMA/U5D_COPROC/VGA/INST_LPM_FF2_0" BEL
        "INST_PLASMA/U5D_COPROC/VGA/MSHREG_INST_LPM_FF2_2" BEL
        "INST_PLASMA/U5D_COPROC/VGA/INST_LPM_FF2_2" BEL
        "INST_PLASMA/U5D_COPROC/VGA/MSHREG_INST_LPM_FF2_1" BEL
        "INST_PLASMA/U5D_COPROC/VGA/INST_LPM_FF2_1" BEL "CLK100_BUFGP/BUFG"
        PIN "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN1_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN1_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN10_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN10_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN101_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN101_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN11_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN11_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN110_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN110_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN111_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN111_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN12_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN12_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN121_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN121_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN13_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN13_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN131_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN131_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN14_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN14_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN141_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN141_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN15_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN15_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN151_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN151_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN16_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN16_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN161_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN161_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN17_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN17_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN171_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN171_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN18_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN18_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN181_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN181_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN19_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN19_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN191_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN191_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN2_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN2_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN20_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN20_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN201_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN201_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN21_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN21_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN210_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN210_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN211_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN211_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN22_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN22_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN221_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN221_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN23_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN23_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN231_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN231_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN24_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN24_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN241_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN241_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN25_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN25_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN251_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN251_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN26_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN26_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN261_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN261_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN27_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN27_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN271_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN271_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN28_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN28_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN281_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN281_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN29_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN29_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN291_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN291_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN3_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN3_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN30_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN30_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN301_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN301_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN31_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN31_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN310_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN310_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN311_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN311_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN32_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN32_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN321_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN321_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN33_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN33_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN331_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN331_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN34_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN34_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN341_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN341_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN35_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN35_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN351_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN351_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN36_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN36_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN361_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN361_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN37_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN37_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN371_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN371_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN38_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN38_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN381_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN381_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN39_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN39_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN391_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN391_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN4_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN4_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN40_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN40_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN401_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN401_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN41_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN41_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN410_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN410_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN411_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN411_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN42_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN42_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN421_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN421_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN43_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN43_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN431_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN431_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN44_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN44_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN441_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN441_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN45_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN45_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN451_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN451_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN46_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN46_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN461_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN461_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN47_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN47_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN471_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN471_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN48_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN48_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN481_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN481_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN49_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN49_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN491_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN491_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN5_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN5_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN50_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN50_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN501_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN501_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN51_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN51_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN510_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN510_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN511_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN511_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN52_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN52_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN521_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN521_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN53_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN53_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN531_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN531_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN54_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN54_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN541_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN541_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN55_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN55_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN551_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN551_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN56_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN56_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN561_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN561_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN57_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN57_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN571_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN571_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN58_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN58_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN581_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN581_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN59_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN59_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN591_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN591_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN6_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN6_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN60_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN60_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN601_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN601_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN61_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN61_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN7_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN7_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN71_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN71_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN8_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN8_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN81_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN81_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN9_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN9_pins<66>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN91_pins<67>" PIN
        "INST_PLASMA/U5D_COPROC/VGA/MRAM_SCREEN91_pins<66>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

