NET gtp_clkp LOC=A12 | DIFF_TERM=TRUE | TNM_NET=gtpclk;
NET gtp_clkn LOC=B12 | DIFF_TERM=TRUE;

# NET gtp_clkp DIFF_TERM=TRUE | TNM_NET=gtpclk;
# NET gtp_clkn DIFF_TERM=TRUE;

TIMESPEC TS_gtpclk = PERIOD gtpclk 8000 ps;

NET clk125 TNM_NET=clk125;
TIMESPEC TS_clk125 = PERIOD clk125 8000ps;

NET clocks/rst_i TIG;

INST eth/phy/transceiver_inst/GTP_1000X/tile0_s6_gtpwizard_i/gtpa1_dual_i LOC=GTPA1_DUAL_X1Y0;

NET gtp_txp LOC=B14;
NET gtp_txn LOC=A14;
NET gtp_rxp LOC=D13;
NET gtp_rxn LOC=C13;

NET sfp_los LOC=T17;

NET leds<0> LOC=D17;
NET leds<1> LOC=AB4;
NET leds<2> LOC=D21;
NET leds<3> LOC=W15;

NET dip_switch<0> LOC=C18;
NET dip_switch<1> LOC=Y6;
NET dip_switch<2> LOC=W6;
NET dip_switch<3> LOC=E4;


