CONFIG PART = 5vtx150tff1759-2;

##################################
# TEMAC BLOCK Level constraints
##################################

#NET "mac_top/clk125_o" TNM_NET = mac_top/clk125_o;
#TIMESPEC TS_mac_top_clk125_o = PERIOD "mac_top/clk125_o" 130 MHz HIGH 50%;

#NET "mac_top/clk125" TNM_NET = mac_top/clk125;
#TIMESPEC TS_mac_top_clk125 = PERIOD "mac_top/clk125" 130 MHz HIGH 50%;

#NET "ipbus_backplane/clk125_o" TNM_NET = ipbus_backplane/clk125_o;
#TIMESPEC TS_ipbus_backplane_clk125_o = PERIOD "ipbus_backplane/clk125_o" 130 MHz HIGH 50%;

NET "osc1_p" TNM_NET = osc1_p;
TIMESPEC TS_osc1_p = PERIOD "osc1_p" 130 MHz HIGH 50%;

#NET "core_sys_inst/link_clk1x" TNM_NET = core_sys_inst/link_clk1x;
#TIMESPEC TS_link_clk1x = PERIOD "core_sys_inst/link_clk1x" 130 MHz HIGH 50%;

#NET "core_sys_inst/link_clk1x" TNM_NET = core_sys_inst/link_clk1x;
#TIMESPEC TS_link_clk1x = PERIOD "core_sys_inst/link_clk1x" 260 MHz HIGH 50%;

NET "enet_gtx_rst*" TIG; 
NET "enet_mac_rst*" TIG; 

##########################################################################
# Manin UCF file
##########################################################################

# Ethernet Fibre
INST "*ipbus_fibre?emac_block?enet_gtx_ch0_1000X_inst?rocketio_wrapper_gtx_inst?rocketio_wrapper_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X1Y9";
INST "enet_fibre_clkn" LOC = "C10";
INST "enet_fibre_clkp" LOC = "D10";

# Ethernet Backplane
#INST "*ipbus_backplane?emac_block?enet_gtx_ch1_1000X_inst?rocketio_wrapper_gtx_inst?rocketio_wrapper_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X1Y4";
# These are the clks for X1Y6 (i.e. wrong GTX, but refclk routed in Rev 0)
#INST "enet_bp_clkn" LOC = "M3";
#INST "enet_bp_clkp" LOC = "M4";
# These are the clks for X1Y4 (i.e. unconnected refclk in Rev 0)
#INST "enet_bp_clkn" LOC = "AD3";
#INST "enet_bp_clkp" LOC = "AD4";



# SNAP12-TX0, SNAP12-RX0
INST "*gtx_i[0].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X0Y2";   #ch7/8
INST "*gtx_i[1].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X0Y3";   #ch6/9
INST "*gtx_i[2].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X0Y4";   #ch10/11
INST "*gtx_i[3].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X0Y5";   #ch1/2
INST "*gtx_i[4].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X0Y6";   #ch0/3
INST "*gtx_i[5].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X0Y7";   #ch4/5
  
# SNAP12-RX2
INST "*gtx_i[6].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X0Y0";   #ch3/0
INST "*gtx_i[7].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X0Y1";   #ch5/4
INST "*gtx_i[8].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X1Y0";   #ch2/1
INST "*gtx_i[9].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X1Y1";   #ch10/11
INST "*gtx_i[10].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X1Y2";   #ch8/7
INST "*gtx_i[11].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X1Y3";   #ch6/9

# QFSP1
#INST "*gtx_i[12].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X1Y8";   #ch3/1
#INST "*gtx_i[13].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X1Y9";   #ch0/2

# QFSP2
#INST "*gtx_i[14].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X0Y8";   #ch2/0
#INST "*gtx_i[15].minit_gtx_comm_inst?minit_gtx_inst?minit_gtx_tile_inst?gtx_dual_i" LOC = "GTX_DUAL_X0Y9";   #ch1/3

# SNAP12-TX0/RX0
# Following are refclks for GTX_DUAL_X0Y6 (MGT115)
NET refclkn_in(4) LOC = M40; # | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKN0
NET refclkp_in(4) LOC = M39; # | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKP0
# Following are refclks for GTX_DUAL_X0Y3 (MGT117)
NET refclkn_in(1) LOC = AK40; # | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKN1
NET refclkp_in(1) LOC = AK39; # | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKP1

# SNAP12-RX2
# Following are refclks for GTX_DUAL_X0Y0 (MGT129)
NET refclkn_in(6) LOC = AY34 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKN2
NET refclkp_in(6) LOC = AW34 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKP2
# Following are refclks for GTX_DUAL_X1Y0 (MGT130)
NET refclkn_in(8) LOC = AY9 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKN5
NET refclkp_in(8) LOC = AW9 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKP5
# Following are refclks for GTX_DUAL_X1Y3 (MGT118)
NET refclkn_in(11) LOC = AK3 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKN6
NET refclkp_in(11) LOC = AK4 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKP6

# QFSP1
# Following are refclks for GTX_DUAL_X1Y9 (MGT128)
#NET refclkn_in(13) LOC = C10 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKN4
#NET refclkp_in(13) LOC = D10 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKP4

# QFSP2
# Following are refclks for GTX_DUAL_X0Y9 (MGT127)
#NET refclkn_in(15) LOC = C33 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKN3
#NET refclkp_in(15) LOC = D33 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKP3

# SNAP12-TX0/RX0
# Unconnected refclks, but here to kep ISE happy :-)
# Following are refclks for GTX_DUAL_X0Y2 (MGT121)
NET refclkn_in(0) LOC = AT40; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A
NET refclkp_in(0) LOC = AT39; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A
# Following are refclks for GTX_DUAL_X0Y4 (MGT113)
NET refclkn_in(2) LOC = AD40; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A
NET refclkp_in(2) LOC = AD39; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A
# Following are refclks for GTX_DUAL_X0Y5 (MGT111)
NET refclkn_in(3) LOC = V40; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A
NET refclkp_in(3) LOC = V39; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A
# Following are refclks for GTX_DUAL_X0Y7 (MGT119)
NET refclkn_in(5) LOC = F40; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A
NET refclkp_in(5) LOC = F39; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A

# SNAP12-RX2
# Unconnected refclks, but here to kep ISE happy :-)
# Following are refclks for GTX_DUAL_X0Y1 (MGT125)
NET refclkn_in(7) LOC = AY39; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A
NET refclkp_in(7) LOC = AW39; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A
# Following are refclks for GTX_DUAL_X1Y1 (MGT126)
NET refclkn_in(9) LOC = AY4; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A
NET refclkp_in(9) LOC = AW4; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A
# Following are refclks for GTX_DUAL_X1Y2 (MGT122)
NET refclkn_in(10) LOC = AT3; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A
NET refclkp_in(10) LOC = AT4; # | IOSTANDARD = GTX;    # SCHEM NAME = N/A

# QFSP1
# Unconnected refclks, but here to kep ISE happy :-)
# Following are refclks for GTX_DUAL_X1Y8 (MGT124)
#NET refclkn_in(12) LOC = C3 | IOSTANDARD = GTX;    # SCHEM NAME = N/A
#NET refclkp_in(12) LOC = C4 | IOSTANDARD = GTX;    # SCHEM NAME = N/A

# QFSP2
# Unconnected refclks, but here to kep ISE happy :-)
# Following are refclks for GTX_DUAL_X0Y8 (MGT123)
#NET refclkn_in(14) LOC = C40 | IOSTANDARD = GTX;    # SCHEM NAME = N/A
#NET refclkp_in(14) LOC = C39 | IOSTANDARD = GTX;    # SCHEM NAME = N/A

# NET AMC_TX_N00 LOC = AF2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N00
# NET AMC_TX_N02 LOC = AB2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N02
# NET AMC_TX_N04 LOC = T2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N04
# NET AMC_TX_N05 LOC = P2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N05
# NET AMC_TX_N06 LOC = K2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N06
# NET AMC_TX_N07 LOC = H2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N07
# NET AMC_TX_N08 LOC = D2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N08
# NET AMC_TX_N09 LOC = AJ13 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N09
# NET AMC_TX_N10 LOC = AH15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N10
# NET AMC_TX_N11 LOC = AN15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N11
# NET AMC_TX_N12 LOC = AL15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N12
# NET AMC_TX_N13 LOC = AR18 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N13
# NET AMC_TX_N14 LOC = AT15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N14
# NET AMC_TX_N15 LOC = AN24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N15
# NET AMC_TX_N17 LOC = AP23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N17
# NET AMC_TX_N18 LOC = AT22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N18
# NET AMC_TX_N19 LOC = AU23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N19
# NET AMC_TX_N20 LOC = BB21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_N20
# NET AMC_TX_P00 LOC = AG2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P00
# NET AMC_TX_P02 LOC = AC2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P02
# NET AMC_TX_P04 LOC = U2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P04
# NET AMC_TX_P05 LOC = R2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P05
# NET AMC_TX_P06 LOC = L2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P06
# NET AMC_TX_P07 LOC = J2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P07
# NET AMC_TX_P08 LOC = E2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P08
# NET AMC_TX_P09 LOC = AH13 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P09
# NET AMC_TX_P10 LOC = AJ15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P10
# NET AMC_TX_P11 LOC = AN14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P11
# NET AMC_TX_P12 LOC = AK15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P12
# NET AMC_TX_P13 LOC = AR19 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P13
# NET AMC_TX_P14 LOC = AU14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P14
# NET AMC_TX_P15 LOC = AM23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P15
# NET AMC_TX_P17 LOC = AN23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P17
# NET AMC_TX_P18 LOC = AR23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P18
# NET AMC_TX_P19 LOC = AV23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P19
# NET AMC_TX_P20 LOC = BA22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = AMC_TX_P20

#NET CLK_CNTRL(0) LOC = AH30 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL00
#NET CLK_CNTRL(1) LOC = AH29 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL01
#NET CLK_CNTRL(2) LOC = AN28 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL02
#NET CLK_CNTRL(3) LOC = AP28 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL03
#NET CLK_CNTRL(4) LOC = AH31 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL04
#NET CLK_CNTRL(5) LOC = AT26 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL05
#NET CLK_CNTRL(6) LOC = AT25 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL06
#NET CLK_CNTRL(7) LOC = AK29 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL07
#NET CLK_CNTRL(8) LOC = AV26 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL08
#NET CLK_CNTRL(9) LOC = AV25 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL09
#NET CLK_CNTRL(10) LOC = AU34 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL10
#NET CLK_CNTRL(11) LOC = AT34 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL11
#NET CLK_CNTRL(12) LOC = AU27 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL12
#NET CLK_CNTRL(13) LOC = AT27 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL13
#NET CLK_CNTRL(14) LOC = AR34 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL14
#NET CLK_CNTRL(15) LOC = AM28 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL15
#NET CLK_CNTRL(16) LOC = AN29 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL16
#NET CLK_CNTRL(17) LOC = AR28 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL17
#NET CLK_CNTRL(18) LOC = AR29 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL18
#NET CLK_CNTRL(19) LOC = AU32 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL19
#NET CLK_CNTRL(20) LOC = AT32 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL20
#NET CLK_CNTRL(21) LOC = AT29 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL21
#NET CLK_CNTRL(22) LOC = AU28 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL22
#NET CLK_CNTRL(23) LOC = AM29 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = CLK_CNTRL23

NET CLK_CNTRL(0) LOC = AH30 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL00
NET CLK_CNTRL(1) LOC = AH29 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL01
NET CLK_CNTRL(2) LOC = AN28 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL02
NET CLK_CNTRL(3) LOC = AP28 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL03
NET CLK_CNTRL(4) LOC = AH31 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL04
NET CLK_CNTRL(5) LOC = AT26 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL05
NET CLK_CNTRL(6) LOC = AT25 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL06
NET CLK_CNTRL(7) LOC = AK29 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL07
NET CLK_CNTRL(8) LOC = AV26 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL08
NET CLK_CNTRL(9) LOC = AV25 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL09
NET CLK_CNTRL(10) LOC = AU34 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL10
NET CLK_CNTRL(11) LOC = AT34 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL11
NET CLK_CNTRL(12) LOC = AU27 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL12
NET CLK_CNTRL(13) LOC = AT27 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL13
NET CLK_CNTRL(14) LOC = AR34 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL14
NET CLK_CNTRL(15) LOC = AM28 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL15
NET CLK_CNTRL(16) LOC = AN29 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL16
NET CLK_CNTRL(17) LOC = AR28 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL17
NET CLK_CNTRL(18) LOC = AR29 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL18
NET CLK_CNTRL(19) LOC = AU32 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL19
NET CLK_CNTRL(20) LOC = AT32 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL20
NET CLK_CNTRL(21) LOC = AT29 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL21
NET CLK_CNTRL(22) LOC = AU28 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL22
NET CLK_CNTRL(23) LOC = AM29 |IOSTANDARD = LVCMOS25;    # SCHEM NAME = CLK_CNTRL23

NET CLK1_P LOC = AL26 |IOSTANDARD = LVDS_25 |DIFF_TERM = TRUE;    # SCHEM NAME = CLK1BUF+2
NET CLK1_N LOC = AM26 |IOSTANDARD = LVDS_25 |DIFF_TERM = TRUE;    # SCHEM NAME = CLK1BUF-2
NET CLK2_P LOC = AN25 |IOSTANDARD = LVDS_25 |DIFF_TERM = TRUE;    # SCHEM NAME = CLK2BUF+2
NET CLK2_N LOC = AM24 |IOSTANDARD = LVDS_25 |DIFF_TERM = TRUE;    # SCHEM NAME = CLK2BUF-2

NET LED(0) LOC = AM36 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = LED0
NET LED(1) LOC = AL35 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = LED1
NET LED(2) LOC = AM32 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = LED2
NET LED(3) LOC = AM31 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = LED3

NET OSC1_P LOC = AP21 |IOSTANDARD = LVDS_25 |DIFF_TERM = TRUE;    # SCHEM NAME = OSC1BUF+2
NET OSC1_N LOC = AP20 |IOSTANDARD = LVDS_25 |DIFF_TERM = TRUE;    # SCHEM NAME = OSC1BUF-2
NET OSC2_P LOC = AK23 |IOSTANDARD = LVDS_25 |DIFF_TERM = TRUE;    # SCHEM NAME = OSC2BUF+2
NET OSC2_N LOC = AK24 |IOSTANDARD = LVDS_25 |DIFF_TERM = TRUE;    # SCHEM NAME = OSC2BUF-2

# NET PFLASH_A00 LOC = N14 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A00
# NET PFLASH_A01 LOC = N15 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A01
# NET PFLASH_A02 LOC = R27 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A02
# NET PFLASH_A03 LOC = P28 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A03
# NET PFLASH_A04 LOC = N16 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A04
# NET PFLASH_A05 LOC = M16 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A05
# NET PFLASH_A06 LOC = N29 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A06
# NET PFLASH_A07 LOC = M29 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A07
# NET PFLASH_A08 LOC = M14 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A08
# NET PFLASH_A09 LOC = L14 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A09
# NET PFLASH_A10 LOC = P27 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A10
# NET PFLASH_A11 LOC = N28 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A11
# NET PFLASH_A12 LOC = P17 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A12
# NET PFLASH_A13 LOC = N18 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A13
# NET PFLASH_A14 LOC = N25 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A14
# NET PFLASH_A15 LOC = N26 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A15
# NET PFLASH_A16 LOC = P18 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A16
# NET PFLASH_A17 LOC = N19 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A17
# NET PFLASH_A18 LOC = P25 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A18
# NET PFLASH_A19 LOC = P26 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A19
# NET PFLASH_A20 LOC = AM27 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A20
# NET PFLASH_A21 LOC = AL27 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A21
# NET PFLASH_A22 LOC = AJ18 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_A22
# NET PFLASH_D00 LOC = AR25 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_D00
# NET PFLASH_D01 LOC = AP25 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_D01
# NET PFLASH_D02 LOC = AK19 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_D02
# NET PFLASH_D03 LOC = AL19 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_D03
# NET PFLASH_D04 LOC = AN26 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_D04
# NET PFLASH_D05 LOC = AP26 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_D05
# NET PFLASH_D06 LOC = AM19 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_D06
# NET PFLASH_D07 LOC = AM18 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_D07
# NET PFLASH_FCS_B LOC = AL17 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_FCS_B
# NET PFLASH_FOE_B LOC = AM17 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_FOE_B
# NET PFLASH_FWE_B LOC = AR27 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_FWE_B
# NET PFLASH_LE_B LOC = AK20 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = PFLASH_LE_B

NET SNAP12_RX0_CNTRL(0) LOC = AG38 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-RX0-CNTRL0
NET SNAP12_RX0_CNTRL(1) LOC = AG36 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-RX0-CNTRL1
NET SNAP12_RX0_CNTRL(2) LOC = AG37 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-RX0-CNTRL2
NET SNAP12_RX0_CNTRL(3) LOC = AH36 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-RX0-CNTRL3
NET SNAP12_RX0_CNTRL(4) LOC = AK37 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-RX0-CNTRL4
NET SNAP12_RX0_CNTRL(5) LOC = AL36 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-RX0-CNTRL5
NET SNAP12_RX2_CNTRL(0) LOC = AK33 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-RX2-CNTRL0
NET SNAP12_RX2_CNTRL(1) LOC = AP37 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-RX2-CNTRL1
NET SNAP12_RX2_CNTRL(2) LOC = AP38 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-RX2-CNTRL2
NET SNAP12_RX2_CNTRL(3) LOC = AN31 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-RX2-CNTRL3
NET SNAP12_RX2_CNTRL(4) LOC = AP31 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-RX2-CNTRL4
NET SNAP12_RX2_CNTRL(5) LOC = AP32 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-RX2-CNTRL5
NET SNAP12_TX0_CNTRL(0) LOC = AF32 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-TX0-CNTRL0
NET SNAP12_TX0_CNTRL(1) LOC = AF31 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-TX0-CNTRL1
NET SNAP12_TX0_CNTRL(2) LOC = AF37 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-TX0-CNTRL2
NET SNAP12_TX0_CNTRL(3) LOC = AF34 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-TX0-CNTRL3
NET SNAP12_TX0_CNTRL(4) LOC = AG32 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-TX0-CNTRL4
NET SNAP12_TX0_CNTRL(5) LOC = AG31 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = PPOD-TX0-CNTRL5

# NET QSFP1_CTRL0 LOC = AB33 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP1_CTRL0
# NET QSFP1_CTRL1 LOC = AC33 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP1_CTRL1
# NET QSFP1_CTRL2 LOC = AC35 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP1_CTRL2
# NET QSFP1_CTRL3 LOC = AC34 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP1_CTRL3
# NET QSFP1_CTRL4 LOC = AD37 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP1_CTRL4
# NET QSFP1_CTRL5 LOC = AC31 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP1_CTRL5
# NET QSFP1_CTRL6 LOC = AD35 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP1_CTRL6
# NET QSFP2_CTRL0 LOC = AD32 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP2_CTRL0
# NET QSFP2_CTRL1 LOC = AD33 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP2_CTRL1
# NET QSFP2_CTRL2 LOC = AD31 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP2_CTRL2
# NET QSFP2_CTRL3 LOC = AE35 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP2_CTRL3
# NET QSFP2_CTRL4 LOC = AE37 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP2_CTRL4
# NET QSFP2_CTRL5 LOC = AF36 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP2_CTRL5
# NET QSFP2_CTRL6 LOC = AF35 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = QSFP2_CTRL6

# NET QSH-N00 LOC = T34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N00
# NET QSH-N01 LOC = N35 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N01
# NET QSH-N02 LOC = L37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N02
# NET QSH-N03 LOC = H36 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N03
# NET QSH-N04 LOC = F37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N04
# NET QSH-N05 LOC = G34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N05
# NET QSH-N06 LOC = K32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N06
# NET QSH-N07 LOC = N30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N07
# NET QSH-N08 LOC = L29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N08
# NET QSH-N09 LOC = G28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N09
# NET QSH-N10 LOC = G26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N10
# NET QSH-N11 LOC = E25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N11
# NET QSH-N12 LOC = B23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N12
# NET QSH-N13 LOC = M21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N13
# NET QSH-N14 LOC = D21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N14
# NET QSH-N15 LOC = F20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N15
# NET QSH-N16 LOC = F16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N16
# NET QSH-N17 LOC = G14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N17
# NET QSH-N18 LOC = F14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N18
# NET QSH-N19 LOC = F12 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N19
# NET QSH-N20 LOC = F11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N20
# NET QSH-N21 LOC = H9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N21
# NET QSH-N22 LOC = E8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N22
# NET QSH-N23 LOC = H8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N23
# NET QSH-N24 LOC = F6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N24
# NET QSH-N25 LOC = H5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N25
# NET QSH-N26 LOC = N6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N26
# NET QSH-N27 LOC = T5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N27
# NET QSH-N28 LOC = V9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N28
# NET QSH-N29 LOC = Y8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N29
# NET QSH-N30 LOC = AA10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N30
# NET QSH-N31 LOC = AD6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N31
# NET QSH-N32 LOC = AF7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N32
# NET QSH-N33 LOC = AH8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N33
# NET QSH-N34 LOC = AH5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N34
# NET QSH-N35 LOC = AL9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N35
# NET QSH-N36 LOC = AM8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N36
# NET QSH-N37 LOC = AP7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N37
# NET QSH-N38 LOC = AT9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N38
# NET QSH-N39 LOC = AT7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-N39
# NET QSH-P00 LOC = R34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P00
# NET QSH-P01 LOC = P35 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P01
# NET QSH-P02 LOC = M37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P02
# NET QSH-P03 LOC = H35 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P03
# NET QSH-P04 LOC = E37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P04
# NET QSH-P05 LOC = F34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P05
# NET QSH-P06 LOC = L31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P06
# NET QSH-P07 LOC = N31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P07
# NET QSH-P08 LOC = K29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P08
# NET QSH-P09 LOC = H28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P09
# NET QSH-P10 LOC = F26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P10
# NET QSH-P11 LOC = F25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P11
# NET QSH-P12 LOC = B22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P12
# NET QSH-P13 LOC = N21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P13
# NET QSH-P14 LOC = C21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P14
# NET QSH-P15 LOC = E20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P15
# NET QSH-P16 LOC = F17 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P16
# NET QSH-P17 LOC = F15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P17
# NET QSH-P18 LOC = E14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P18
# NET QSH-P19 LOC = G12 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P19
# NET QSH-P20 LOC = G11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P20
# NET QSH-P21 LOC = G9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P21
# NET QSH-P22 LOC = E7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P22
# NET QSH-P23 LOC = J8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P23
# NET QSH-P24 LOC = G6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P24
# NET QSH-P25 LOC = H6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P25
# NET QSH-P26 LOC = P6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P26
# NET QSH-P27 LOC = T6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P27
# NET QSH-P28 LOC = V8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P28
# NET QSH-P29 LOC = Y7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P29
# NET QSH-P30 LOC = AA11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P30
# NET QSH-P31 LOC = AD7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P31
# NET QSH-P32 LOC = AE8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P32
# NET QSH-P33 LOC = AG8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P33
# NET QSH-P34 LOC = AG6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P34
# NET QSH-P35 LOC = AK9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P35
# NET QSH-P36 LOC = AM9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P36
# NET QSH-P37 LOC = AR6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P37
# NET QSH-P38 LOC = AR10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P38
# NET QSH-P39 LOC = AR7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QSH-P39
# NET QTH-N00 LOC = N33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N00
# NET QTH-N01 LOC = P37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N01
# NET QTH-N02 LOC = K35 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N02
# NET QTH-N03 LOC = J35 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N03
# NET QTH-N04 LOC = G36 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N04
# NET QTH-N05 LOC = H33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N05
# NET QTH-N06 LOC = L32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N06
# NET QTH-N07 LOC = P32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N07
# NET QTH-N08 LOC = H29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N08
# NET QTH-N09 LOC = J27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N09
# NET QTH-N10 LOC = J25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N10
# NET QTH-N11 LOC = E23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N11
# NET QTH-N12 LOC = A22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N12
# NET QTH-N13 LOC = J21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N13
# NET QTH-N14 LOC = K20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N14
# NET QTH-N15 LOC = H19 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N15
# NET QTH-N16 LOC = G16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N16
# NET QTH-N17 LOC = H15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N17
# NET QTH-N18 LOC = J13 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N18
# NET QTH-N19 LOC = J12 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N19
# NET QTH-N20 LOC = N11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N20
# NET QTH-N21 LOC = F9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N21
# NET QTH-N22 LOC = G8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N22
# NET QTH-N23 LOC = P8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N23
# NET QTH-N24 LOC = L7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N24
# NET QTH-N25 LOC = M6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N25
# NET QTH-N26 LOC = P5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N26
# NET QTH-N27 LOC = P7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N27
# NET QTH-N28 LOC = Y9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N28
# NET QTH-N29 LOC = Y10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N29
# NET QTH-N30 LOC = AB7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N30
# NET QTH-N31 LOC = AE10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N31
# NET QTH-N32 LOC = AF6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N32
# NET QTH-N33 LOC = AG9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N33
# NET QTH-N34 LOC = AJ8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N34
# NET QTH-N35 LOC = AN5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N35
# NET QTH-N36 LOC = AN8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N36
# NET QTH-N37 LOC = AR9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N37
# NET QTH-N38 LOC = AT6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N38
# NET QTH-N39 LOC = AV7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-N39
# NET QTH-P00 LOC = P33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P00
# NET QTH-P01 LOC = R37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P01
# NET QTH-P02 LOC = L34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P02
# NET QTH-P03 LOC = J36 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P03
# NET QTH-P04 LOC = F35 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P04
# NET QTH-P05 LOC = J32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P05
# NET QTH-P06 LOC = M33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P06
# NET QTH-P07 LOC = P31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P07
# NET QTH-P08 LOC = G29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P08
# NET QTH-P09 LOC = J28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P09
# NET QTH-P10 LOC = K25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P10
# NET QTH-P11 LOC = E24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P11
# NET QTH-P12 LOC = B21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P12
# NET QTH-P13 LOC = J22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P13
# NET QTH-P14 LOC = L20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P14
# NET QTH-P15 LOC = H20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P15
# NET QTH-P16 LOC = H16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P16
# NET QTH-P17 LOC = H14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P17
# NET QTH-P18 LOC = K14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P18
# NET QTH-P19 LOC = H11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P19
# NET QTH-P20 LOC = P11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P20
# NET QTH-P21 LOC = F10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P21
# NET QTH-P22 LOC = G7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P22
# NET QTH-P23 LOC = R9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P23
# NET QTH-P24 LOC = K7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P24
# NET QTH-P25 LOC = M7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P25
# NET QTH-P26 LOC = R5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P26
# NET QTH-P27 LOC = R7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P27
# NET QTH-P28 LOC = W8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P28
# NET QTH-P29 LOC = AA9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P29
# NET QTH-P30 LOC = AB8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P30
# NET QTH-P31 LOC = AD10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P31
# NET QTH-P32 LOC = AF5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P32
# NET QTH-P33 LOC = AF10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P33
# NET QTH-P34 LOC = AH9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P34
# NET QTH-P35 LOC = AM5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P35
# NET QTH-P36 LOC = AP8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P36
# NET QTH-P37 LOC = AR8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P37
# NET QTH-P38 LOC = AU6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P38
# NET QTH-P39 LOC = AU8 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = QTH-P39

NET SI5326_CNTRL(0) LOC = AJ37 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = SI5325_CNTRL0
NET SI5326_CNTRL(1) LOC = AH38 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = SI5325_CNTRL1
NET SI5326_CNTRL(2) LOC = AG34 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = SI5325_CNTRL2
NET SI5326_CNTRL(3) LOC = AG33 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = SI5325_CNTRL3
NET SI5326_CNTRL(4) LOC = AM38 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = SI5325_CNTRL4

# NET UC00 LOC = Y30 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC00
# NET UC01 LOC = Y29 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC01
# NET UC02 LOC = W35 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC02
# NET UC03 LOC = W36 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC03
# NET UC04 LOC = AA37 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC04
# NET UC05 LOC = W37 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC05
# NET UC06 LOC = V36 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC06
# NET UC07 LOC = AA36 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC07
# NET UC08 LOC = W33 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC08
# NET UC09 LOC = W32 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC09
# NET UC10 LOC = Y32 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC10
# NET UC11 LOC = AA32 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC11
# NET UC12 LOC = V35 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC12
# NET UC13 LOC = V34 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC13
# NET UC14 LOC = Y33 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC14
# NET UC15 LOC = U37 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC15
# NET UC16 LOC = T37 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC16
# NET UC17 LOC = W30 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC17
# NET UC18 LOC = W31 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC18
# NET UC19 LOC = AA30 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC19
# NET UC20 LOC = Y35 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC20
# NET UC21 LOC = U33 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC21
# NET UC22 LOC = U34 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC22
# NET UC23 LOC = AC36 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = UC23

# NET V5_AMC_RX_N00 LOC = AE1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N00
# NET V5_AMC_RX_N02 LOC = AC1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N02
# NET V5_AMC_RX_N04 LOC = U1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N04
# NET V5_AMC_RX_N05 LOC = N1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N05
# NET V5_AMC_RX_N06 LOC = L1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N06
# NET V5_AMC_RX_N07 LOC = G1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N07
# NET V5_AMC_RX_N08 LOC = E1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N08
# NET V5_AMC_RX_N09 LOC = AG13 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N09
# NET V5_AMC_RX_N10 LOC = AK14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N10
# NET V5_AMC_RX_N11 LOC = AL14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N11
# NET V5_AMC_RX_N12 LOC = AR14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N12
# NET V5_AMC_RX_N13 LOC = AR17 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N13
# NET V5_AMC_RX_N14 LOC = AU17 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N14
# NET V5_AMC_RX_N15 LOC = AM22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N15
# NET V5_AMC_RX_N17 LOC = AP22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N17
# NET V5_AMC_RX_N18 LOC = AT24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N18
# NET V5_AMC_RX_N19 LOC = AT21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N19
# NET V5_AMC_RX_N20 LOC = BB23 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_N20
# NET V5_AMC_RX_P00 LOC = AF1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P00
# NET V5_AMC_RX_P02 LOC = AD1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P02
# NET V5_AMC_RX_P04 LOC = V1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P04
# NET V5_AMC_RX_P05 LOC = P1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P05
# NET V5_AMC_RX_P06 LOC = M1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P06
# NET V5_AMC_RX_P07 LOC = H1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P07
# NET V5_AMC_RX_P08 LOC = F1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P08
# NET V5_AMC_RX_P09 LOC = AH14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P09
# NET V5_AMC_RX_P10 LOC = AK13 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P10
# NET V5_AMC_RX_P11 LOC = AM14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P11
# NET V5_AMC_RX_P12 LOC = AP15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P12
# NET V5_AMC_RX_P13 LOC = AT17 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P13
# NET V5_AMC_RX_P14 LOC = AU18 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P14
# NET V5_AMC_RX_P15 LOC = AN21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P15
# NET V5_AMC_RX_P17 LOC = AR22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P17
# NET V5_AMC_RX_P18 LOC = AR24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P18
# NET V5_AMC_RX_P19 LOC = AU21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P19
# NET V5_AMC_RX_P20 LOC = BB22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;    # SCHEM NAME = V5_AMC_RX_P20

NET CPLD(0) LOC = AJ33 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_CPLD0
NET CPLD(1) LOC = AK34 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_CPLD1
NET CPLD(2) LOC = AT36 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_CPLD2
NET CPLD(3) LOC = AJ31 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_CPLD3
NET CPLD(4) LOC = AJ32 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_CPLD4
NET CPLD(5) LOC = AR35 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_CPLD5
NET CPLD(6) LOC = AT35 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_CPLD6
NET CPLD(7) LOC = AM34 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_CPLD7
NET CPLD(8) LOC = AN34 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_CPLD8
NET CPLD(9) LOC = AP36 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_CPLD9

# NET V5_DONE LOC = R14 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_DONE

NET hdr_n(0) LOC = M18 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_HDR_N0
NET hdr_n(1) LOC = K28 |IOSTANDARD = LVDS_25;    # SCHEM NAME = V5_HDR_N1
NET hdr_n(2) LOC = L17 |IOSTANDARD = LVDS_25;    # SCHEM NAME = V5_HDR_N2
NET hdr_n(3) LOC = M27 |IOSTANDARD = LVDS_25;    # SCHEM NAME = V5_HDR_N3
NET hdr_p(0) LOC = M17 |IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_HDR_P0
NET hdr_p(1) LOC = K27 |IOSTANDARD = LVDS_25;    # SCHEM NAME = V5_HDR_P1
NET hdr_p(2) LOC = L16 |IOSTANDARD = LVDS_25;    # SCHEM NAME = V5_HDR_P2
NET hdr_p(3) LOC = M28 |IOSTANDARD = LVDS_25;    # SCHEM NAME = V5_HDR_P3

# NET V5_INIT_B LOC = T14 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_INIT_B
# NET V5_JTAG_TCK LOC = AF16 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_JTAG_TCK
# NET V5_JTAG_TDI LOC = AG16 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_JTAG_TDI
# NET V5_JTAG_TMS LOC = AF15 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_JTAG_TMS

# NET SNAP12_RX0_N(0) LOC = N42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_N00
# NET SNAP12_RX0_N(1) LOC = V42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_N01
# NET SNAP12_RX0_N(2) LOC = W42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_N02
# NET SNAP12_RX0_N(3) LOC = M42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_N03
# NET SNAP12_RX0_N(4) LOC = G42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_N04
# NET SNAP12_RX0_N(5) LOC = F42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_N05
# NET SNAP12_RX0_N(6) LOC = AL42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_N06
# NET SNAP12_RX0_N(7) LOC = AR42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_N07
# NET SNAP12_RX0_N(8) LOC = AU42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_N08
# NET SNAP12_RX0_N(9) LOC = AK42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_N09
# NET SNAP12_RX0_N(10) LOC = AE42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_N10
# NET SNAP12_RX0_N(11) LOC = AD42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_N11
# NET SNAP12_RX0_P(0) LOC = P42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_P00
# NET SNAP12_RX0_P(1) LOC = U42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_P01
# NET SNAP12_RX0_P(2) LOC = Y42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_P02
# NET SNAP12_RX0_P(3) LOC = L42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_P03
# NET SNAP12_RX0_P(4) LOC = H42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_P04
# NET SNAP12_RX0_P(5) LOC = E42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_P05
# NET SNAP12_RX0_P(6) LOC = AM42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_P06
# NET SNAP12_RX0_P(7) LOC = AT42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_P07
# NET SNAP12_RX0_P(8) LOC = AV42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_P08
# NET SNAP12_RX0_P(9) LOC = AJ42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_P09
# NET SNAP12_RX0_P(10) LOC = AF42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_P10
# NET SNAP12_RX0_P(11) LOC = AC42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX0_P11
# NET SNAP12_RX2_N(0) LOC = BB33 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_N00
# NET SNAP12_RX2_N(1) LOC = BB10 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_N01
# NET SNAP12_RX2_N(2) LOC = BB9 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_N02
# NET SNAP12_RX2_N(3) LOC = BB34 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_N03
# NET SNAP12_RX2_N(4) LOC = BB39 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_N04
# NET SNAP12_RX2_N(5) LOC = BB40 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_N05
# NET SNAP12_RX2_N(6) LOC = AT1 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_N06
# NET SNAP12_RX2_N(7) LOC = AL1 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_N07
# NET SNAP12_RX2_N(8) LOC = AK1 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_N08
# NET SNAP12_RX2_N(9) LOC = AU1 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_N09
# NET SNAP12_RX2_N(10) LOC = BB3 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_N10
# NET SNAP12_RX2_N(11) LOC = BB4 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_N11
# NET SNAP12_RX2_P(0) LOC = BB32 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_P00
# NET SNAP12_RX2_P(1) LOC = BB11 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_P01
# NET SNAP12_RX2_P(2) LOC = BB8 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_P02
# NET SNAP12_RX2_P(3) LOC = BB35 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_P03
# NET SNAP12_RX2_P(4) LOC = BB38 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_P04
# NET SNAP12_RX2_P(5) LOC = BB41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_P05
# NET SNAP12_RX2_P(6) LOC = AR1 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_P06
# NET SNAP12_RX2_P(7) LOC = AM1 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_P07
# NET SNAP12_RX2_P(8) LOC = AJ1 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_P08
# NET SNAP12_RX2_P(9) LOC = AV1 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_P09
# NET SNAP12_RX2_P(10) LOC = BB2 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_P10
# NET SNAP12_RX2_P(11) LOC = BB5 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_RX2_P11
# NET SNAP12_TX0_N(0) LOC = P41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_N00
# NET SNAP12_TX0_N(1) LOC = U41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_N01
# NET SNAP12_TX0_N(2) LOC = Y41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_N02
# NET SNAP12_TX0_N(3) LOC = L41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_N03
# NET SNAP12_TX0_N(4) LOC = H41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_N04
# NET SNAP12_TX0_N(5) LOC = E41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_N05
# NET SNAP12_TX0_N(6) LOC = AM41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_N06
# NET SNAP12_TX0_N(7) LOC = AP41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_N07
# NET SNAP12_TX0_N(8) LOC = AV41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_N08
# NET SNAP12_TX0_N(9) LOC = AJ41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_N09
# NET SNAP12_TX0_N(10) LOC = AF41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_N10
# NET SNAP12_TX0_N(11) LOC = AC41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_N11
# NET SNAP12_TX0_P(0) LOC = R41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_P00
# NET SNAP12_TX0_P(1) LOC = T41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_P01
# NET SNAP12_TX0_P(2) LOC = AA41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_P02
# NET SNAP12_TX0_P(3) LOC = K41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_P03
# NET SNAP12_TX0_P(4) LOC = J41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_P04
# NET SNAP12_TX0_P(5) LOC = D41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_P05
# NET SNAP12_TX0_P(6) LOC = AN41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_P06
# NET SNAP12_TX0_P(7) LOC = AR41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_P07
# NET SNAP12_TX0_P(8) LOC = AW41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_P08
# NET SNAP12_TX0_P(9) LOC = AH41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_P09
# NET SNAP12_TX0_P(10) LOC = AG41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_P10
# NET SNAP12_TX0_P(11) LOC = AB41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_PPOD_TX0_P11

# NET V5_PROG_B LOC = R29 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_PROG_B

# NET V5_QSFP1_RX_N0 LOC = A10 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_RX_N0
# NET V5_QSFP1_RX_N1 LOC = A2 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_RX_N1
# NET V5_QSFP1_RX_N2 LOC = A8 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_RX_N2
# NET V5_QSFP1_RX_N3 LOC = A4 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_RX_N3
# NET V5_QSFP1_RX_P0 LOC = A11 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_RX_P0
# NET V5_QSFP1_RX_P1 LOC = A3 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_RX_P1
# NET V5_QSFP1_RX_P2 LOC = A9 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_RX_P2
# NET V5_QSFP1_RX_P3 LOC = A5 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_RX_P3
# NET V5_QSFP1_TX_N0 LOC = B12 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_TX_N0
# NET V5_QSFP1_TX_N1 LOC = B2 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_TX_N1
# NET V5_QSFP1_TX_N2 LOC = B8 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_TX_N2
# NET V5_QSFP1_TX_N3 LOC = B6 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_TX_N3
# NET V5_QSFP1_TX_P0 LOC = B11 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_TX_P0
# NET V5_QSFP1_TX_P1 LOC = B1 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_TX_P1
# NET V5_QSFP1_TX_P2 LOC = B7 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_TX_P2
# NET V5_QSFP1_TX_P3 LOC = B5 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP1_TX_P3
# NET V5_QSFP2_RX_N0 LOC = A40 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_RX_N0
# NET V5_QSFP2_RX_N1 LOC = A32 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_RX_N1
# NET V5_QSFP2_RX_N2 LOC = A38 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_RX_N2
# NET V5_QSFP2_RX_N3 LOC = A34 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_RX_N3
# NET V5_QSFP2_RX_P0 LOC = A41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_RX_P0
# NET V5_QSFP2_RX_P1 LOC = A33 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_RX_P1
# NET V5_QSFP2_RX_P2 LOC = A39 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_RX_P2
# NET V5_QSFP2_RX_P3 LOC = A35 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_RX_P3
# NET V5_QSFP2_TX_N0 LOC = B42 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_TX_N0
# NET V5_QSFP2_TX_N1 LOC = B32 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_TX_N1
# NET V5_QSFP2_TX_N2 LOC = B38 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_TX_N2
# NET V5_QSFP2_TX_N3 LOC = B36 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_TX_N3
# NET V5_QSFP2_TX_P0 LOC = B41 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_TX_P0
# NET V5_QSFP2_TX_P1 LOC = B31 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_TX_P1
# NET V5_QSFP2_TX_P2 LOC = B37 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_TX_P2
# NET V5_QSFP2_TX_P3 LOC = B35 | IOSTANDARD = GTX;    # SCHEM NAME = V5_QSFP2_TX_P3

# NET V5_REFCLKN2 LOC = AY34 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKN2
# NET V5_REFCLKN3 LOC = C33 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKN3
# NET V5_REFCLKN4 LOC = C10 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKN4
# NET V5_REFCLKN5 LOC = AY9 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKN5
# NET V5_REFCLKN6 LOC = AK3 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKN6
# NET V5_REFCLKN7 LOC = M3 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKN7
# NET V5_REFCLKP2 LOC = AW34 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKP2
# NET V5_REFCLKP3 LOC = D33 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKP3
# NET V5_REFCLKP4 LOC = D10 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKP4
# NET V5_REFCLKP5 LOC = AW9 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKP5
# NET V5_REFCLKP6 LOC = AK4 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKP6
# NET V5_REFCLKP7 LOC = M4 | IOSTANDARD = GTX;    # SCHEM NAME = V5_REFCLKP7

# NET V5_XSWITCH_RX0_N LOC = Y1 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_XSWITCH_RX0_N
# NET V5_XSWITCH_RX0_P LOC = W1 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_XSWITCH_RX0_P
# NET V5_XSWITCH_RX1_N LOC = AU24 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_XSWITCH_RX1_N
# NET V5_XSWITCH_RX1_P LOC = AV24 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_XSWITCH_RX1_P
# NET V5_XSWITCH_TX0_N LOC = AA2 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_XSWITCH_TX0_N
# NET V5_XSWITCH_TX0_P LOC = Y2 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_XSWITCH_TX0_P
# NET V5_XSWITCH_TX1_N LOC = AV19 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_XSWITCH_TX1_N
# NET V5_XSWITCH_TX1_P LOC = AV18 | IOSTANDARD = LVDCI_25;    # SCHEM NAME = V5_XSWITCH_TX1_P

